<h1>Home</h1>
<div class="jumbotron">
    <p class="lead">Dies ist die Lager-Website der Firma WTS Wassertechnik Schnell GmbH & Co. KG</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header img-card-header">
                    <img src="../assets/delivery-hand-package-icon.svg" height="25px" />
                    <h2>Artikel</h2>
                </div>                
                <div class="card-body">
                    <p>Artikel suchen, ändern, löschen.</p>
                    <a class="btn btn-primary" [routerLink]="['/article']">Artikelverwaltung</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>    
</div>